@import'../../assets/scss/colors';
@import'../../assets/scss/main.scss';
@import'../../assets/scss/button';


.mainRequests h1{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 900;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-text;
    margin: 50px 0 30px 0;
}
.mainRequests .card{
    max-width: 1400px;
    background: $color-secondary;
    border-radius: 18px;
    padding: 10px;
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.404) 0 0 8px;
}
.mainRequests .card .icons{
    float: right;
}
.mainRequests .card .iconsDesk{
    display: none;
}
.mainRequests .card i{
    cursor: pointer;
}
.mainRequests .card .contImg{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
}
.mainRequests .card img{
   height: 160px;
   margin: 10px 0;
}
.mainRequests .card h1{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-text;
    margin: 10px 0 30px 0;
}
.mainRequests .card .infosProduct{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.mainRequests .card .infosProduct h1{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-text;
    margin: 10px 0;
}
.mainRequests .card .infosProduct p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #757575;
}
.mainRequests .card .obs{
    margin: 30px 0 10px 0;
}
.mainRequests .card .obs h1{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-text;
    margin: 10px 0;
}
.mainRequests .card .obs p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #757575;
}
.mainRequests .card .amount{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.mainRequests .card .amountDesk{
    display: none;
}
.mainRequests .card .amount h1{
    margin: 20px 0 15px 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-text;
    margin: 10px 0
}
.mainRequests .card h2{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: right;
    color: $color-primary;
}
@media (max-width: 1300px){
    .h2Mobile{
        font-size: 23px !important;
    }
}
@media (max-width: 1249px){
    .h2Mobile{
        font-size: 36px !important;
    }
    .mainRequests .card .amount{
        display: none;
    }
    .mainRequests .card .amountDesk{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}
@media (min-width: 1250px) {
    .mainRequests .card .card-body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .mainRequests .card .infosProduct{
        flex-direction: column;
        width: 200px;
        height: auto;
    }
    .mainRequests .card .icons{
        display: none;        
    }
    .mainRequests .card .iconsDesk{
        display: block;
    }
    .mainRequests .card .iconsPrice{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
    }
    .mainRequests .card .obs{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .inf{
        width: 120px;
    }
    .mainRequests .card .amount{
        align-items: center;
        justify-content: center;
        margin-top: 28px;
    }
    .mainRequests .card .contImg{
        margin: 0 20px;
    }
}
@media (max-width: 1250px) {
    .h2Mobile{
        display: none;
    }
}
@media (max-width: 896px) {
    .h2Mobile{
        display: none;
    }
    .mainRequests .card .amountDesk h2{
        margin-bottom: 10px;
    }
    .mainRequests .card .contImg{
        justify-content: start;
    }
}
@media (max-width: 370px){
    .mainRequests .card .amountDesk h2{
        font-size: 25px;
    }
}