@import'../../assets/scss/colors';
@import'../../assets/scss/main.scss';
@import'../../assets/scss/button';


main{
    background: $color-background;
    height: 550px;
}
.cont{
    background: $color-background !important;
}
.cont .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.cont .cards img{
    height: 150px;
    border-radius: 50%;
}
.cont .cards h1{
    font-family: Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    margin: 10px 0;
    max-width: 600px;
}
.cont .cards h2{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: $color-primary;
}
.cont .cards i{
    margin: 20px 10px;
}
.iconStar{
    margin-top: 10px;
}
