@import'../../assets/scss/colors';
@import'../../assets/scss/main.scss';

main{
    background: $color-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background: $color-background;
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.card{
    background: $color-secondary;
    border: none;
    box-shadow: none;
    border-radius: 18px;
}
main h2{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 50px;
}
@media (max-width:1295px) {
    .container{
        max-width: 995px !important;
    }
}
@media (max-width:1000px) {
    .container{
        max-width: 710px !important;
    }
}
@media (max-width:720px) {
    .container{
        max-width: 480px !important;
        padding: 0;
    }
}
@media (max-width:490px) {
    .container{
        width: 100% !important;
        padding: 0;
    }
}