@import'../../assets/scss/colors';
@import'../../assets/scss/main.scss';


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.711);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.overlay-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 140px;
    min-height: 150px;
    background: $color-secondary;
    border-radius: 10px;
    top: 90px;
    right: 10px;
    z-index: 2;
    font-family: Roboto;
}
.menu{
    padding-top: 10px;
}
ul li {
    margin: 15px 0;
    cursor: pointer;
}
.menuAll li{
    margin-left: 40px;
    list-style: circle;
}
.ulBebidas li {
    margin-left: 40px;
    list-style: circle;
}
summary::marker{
    color: $color-primary;
}
.summaryPizzas, .summaryDrink{
    margin:10px 0 0 20px
}






