@import'../../assets/scss/colors';
@import'../../assets/scss/main.scss';
@import'../../assets/scss/button';


main{
  padding-top: 100px;
}
main .firstLayer{
    width: 100%;
    height: 600px;
    background-image: url('/imgs/Img-Banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
main .secondLayer{
    width: inherit;
    height: inherit;
    background: linear-gradient(to left, #a326109e 10%, #060404af 90%);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .secondLayer img{
    height: 180px;
    margin: 10px 0;
}
.contBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contBannerSecondary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contBanner h1{
    color: $color-fourth;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
}
.contBanner h2{
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-size: 3em;
    color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
}
.contBanner p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: $color-secondary;
    width: 90%;
    margin: 10px 0
}
.btnAction{
    @include button;
}
.btnAction:hover{
    transform: translateY(3px);
    box-shadow: none;
}
.btnAction:active{
  opacity: 0.5;
}
.contBanner .btnVideo{
    border-radius: 50px;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    color: $color-secondary;
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
}
.contBanner .btnVideo:hover{
    transform: translateY(3px);
    box-shadow: none;
    color: $color-text;
}
@media (min-width: 870px) {
    .contBanner{
        flex-direction: row;
        width: 900px;
        padding: 0 0 0 15px;
    }
    main .secondLayer img{
    height: 300px;
    order: 2;
    }
    .contBanner p{
        text-align: left;
        width: 70%;
    }
    .contBanner .btnVideo{
        margin: 0 0 0 10px;
    }
    .contBannerSecondary{
        align-items: start;
    }
    .contVideo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnAction{
        margin: 0 !important;
    }

}
@media (max-width: 870px) {
    .contBanner .btnVideo{
        box-shadow: none;
    }
    .contBanner .iconVideo p{
        margin: 0;
    }
    .btnAction{
        box-shadow: none;
    }
    .contBanner p{
        margin-bottom: 25px;
    }
}
@media (max-width: 400px) {
    h2{
        font-size: 45px !important;
    }
}